<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="Xamarin.Essentials" version="1.1.0" targetFramework="net461" />
  <package id="Xamarin.Forms" version="4.0.0.497661" targetFramework="net461" />
  <package id="Xamarin.Forms.Maps" version="4.0.0.497661" targetFramework="net461" />
</packages>